*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, sans-serif;
}

input[type="file"][data-running] {
  display: none;
}

progress:indeterminate {
  display: none;
}

div[data-grid] {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  grid-template-rows: repeat(auto-fill,minmax(15rem,1fr));
  z-index: -1;
}

div[data-grid] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  opacity: 50%;
  filter: blur(10px);
  z-index: -2;
}